/**
 * - Nicovideo / HTML5
 * - Nicovideo / Flash
 * - NicoLive2 / HTML5
 * - NicoLive2 / Flash
 * - NicoLive  / Flash
 */


/**
 * Breakpoint
 */
@mixin breakpoint( $breakpoint: large ) {

	// ~ 1024px
	@if $breakpoint == large {
		@media (max-width: 1024px) {
			@content;
		}
	}

	// ~ 768px
	@if $breakpoint == medium {
		@media (max-width: 768px) {
			@content;
		}
	}

	// ~ 480px
	@if $breakpoint == sm {
		@media (max-width: 640px) {
			@content;
		}
	}

	// ~ 480px
	@if $breakpoint == small {
		@media (max-width: 480px) {
			@content;
		}
	}
}


/**
 * Nicovideo / HTML5
 */

.utz-nico-responsive-video-html5 {

	// Ads
	.NicoSpotAdContainer {
		display: none;
	}

	@include breakpoint( large ) {
		.WatchAppContainer-main {
			width: auto;
			max-width: 1024px;

			// Player
			.MainContainer-player {
				width: percentage( (1024px - 384px) / 1024px );

				.VideoContainer {
					position: relative;
					width: 100%;
					height: 0;
					padding-top: 56.25%;
				}
			}

			// Comments
			.MainContainer-commentPanel {
				width: percentage( 384px / 1024px );
			}
		}
	}

	@include breakpoint( medium ) {

		// Page header
		.HeaderContainer {
			> .Grid.HeaderContainer-row {
				display: block;

				> .GridCell {
					display: block;
				}

				.HeaderContainer-videoTitle {
					padding-right: 0;
				}
			}
		}

		// Video
		.WatchAppContainer-main {

			// Player
			.MainContainer-player {
				width: 100%;
			}

			// Comments
			.MainContainer-commentPanel {
				position: relative;
				width: 100%;

				.MiniBannerAdContainer {
					position: relative;
				}

				.CommentPanelContainer {
					position: relative;
					top: 0;
					bottom: 0;
					width: auto;
					height: 300px;
					margin-left: 10px;
					margin-right: 10px;

					.CommentPanelDataGrid {

					}
				}
			}
		}
	}
}


/**
 * Nicovideo / Flash
 */
.utz-nico-responsive-video-flash {
	#playerTabContainer {
		.nicoSpotAds.active {
			display: none !important;
		}
	}
}


/**
 * NicoLive 2 / HTML5
 */

.utz-nico-responsive-live2-html5 {
	@include breakpoint( large ) {
		min-width: 0;
	}

	body:not([data-browser-fullscreen="parent"]) {

		// バージョンアップのお知らせ（オフィシャル系＆ユーザー生放送）
		#html5-switch-bar,
		#update-info {
			@include breakpoint( medium ) {
				padding-top: .5em;
				padding-bottom: .5em;

				> .inner {
					width: auto;
				}
			}
		}

		// ニコニコ生放送 ヘッダー
		#live-header {
			@include breakpoint( medium ) {
				width: auto;
				height: auto;
				padding-left: 10px;
				padding-right: 10px;

				// Logo
				.logo {
					position: static;
					margin-top: .5em;
					margin-bottom: .5em;

					> a {
						margin-left: auto;
						margin-right: auto;
					}
				}

				// Searchbox
				.score-search {
					position: static;
					width: auto;

					// ユーザー生放送
					.search-input-wrap {
						width: calc(100% - 36px);

						> input.search-word {
							width: 100%;
						}
					}

					// オフィシャル系
					.search-program {
						display: flex;

						> input.search-word {
							width: 100%;
						}
					}
				}

				// Ad banner
				#header-ad {
					display: none;
				}
			}
		}

		// 番組ヘッダー
		#program-header-block {
			@include breakpoint( large ) {
				width: auto;
				padding-left: 10px;
				padding-right: 10px;

				.program-detail {
					width: auto;

					.program-title {
						overflow: initial;
						white-space: initial;
						text-overflow: initial;
					}
				}
			}
		}

		// Tags
		#program-tag-block {
			@include breakpoint( medium ) {
				width: auto;
				padding-left: 10px;
				padding-right: 10px;

				.program-tag-list {
					max-width: none;
					white-space: initial;
				}
			}
		}

		// ニコニ広告
		#user-ad-block {
			@include breakpoint( large ) {
				width: auto;
			}
		}

		// Player
		#player-container, // オフィシャル系
		#program-main-block #player-block // 一般
		{
			@include breakpoint( large ) {
				width: auto;
				max-width: 1024px;

				> div {
					> [class^="___player-display"] {
						width: 62.5%;
					}

					> [class^="___player-status"] {
						width: 37.5%;
					}

					@include breakpoint( medium ) {
						flex-direction: column;

						> [class^="___player-display"],
						> [class^="___player-status"] {
							width: auto;
							margin-bottom: 10px;
						}
					}
				}

				// Video screen
				[class^="___player-display-screen"][data-size-name="small"] {
					position: relative;
					width: 100%;
					height: 0;
					padding-top: 56.25%;
				}

				// ?
				[class^="___flipboard-layer"]
				[class^="___comment-layer"]
				[class^="___widget-layer"]
				[class^="___interaction-layer"] {
					width: 100% !important;
					height: 100% !important;
				}

				// Comments
				@include breakpoint( medium ) {
					[class^="___program-panel"] {
						width: 100%;
						margin-left: 0;
					}

					[class^="___player-status"] {
						margin-left: 10px;
						margin-right: 10px;
					}

					[class^="___comment-panel"] {
						height: 300px !important;

						[class^="___header-table"] {
							width: 100% !important;
						}
					}
				}
			}
		}
	}
}


/**
 * NicoLive 2 / Flash
 */


/**
 * NicoLive / Recent (archive)
 */
.utz-nico-responsive-live-recent {
	@include breakpoint( large ) {
		#page_cover {
			width: auto;

			main {
				width: auto;

				> #onairstreams-block,
				> #contents-block {
					width: auto;
					float: none;
				}
			}
		}
	}

	@include breakpoint( medium ) {
		#page_cover {
			main {
				> #onairstreams-block {
					width: calc(100% - 224px);
				}

				> #contents-block {
					min-width: 200px;
				}
			}
		}
	}

	#page_cover {
		main {
			> #onairstreams-block {
				.user-program-list {
					> li {
						@include breakpoint( sm ) {
							width: 48%;
							max-width: initial;
							margin-left: 0 !important;
							flex-basis: auto;

							&:nth-child(odd) {
								margin-right: 4%;
							}
						}

						@include breakpoint( small ) {
							width: 100%;

							&:nth-child(odd) {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}

	// @include breakpoint( small ) {
	// 	#page_cover {
	// 		main {
	// 			> #onairstreams-block {
	// 				.user-program-list {
	// 					> li {
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}