/**
 * - Nicovideo / HTML5
 * - Nicovideo / Flash
 * - NicoLive2 / HTML5
 * - NicoLive2 / Flash
 * - NicoLive  / Flash
 */


/**
 * Nicovideo / HTML5
 */

.utz-nico-responsive-video-html5 {

	// Ads
	.NicoSpotAdContainer {
		display: none;
	}

	// Layout
	@media (max-width: 1024px) {
		.WatchAppContainer-main {
			width: auto;
			max-width: 1024px;

			// Player
			.MainContainer-player {
				width: percentage( (1024px - 384px) / 1024px );

				.VideoContainer {
					position: relative;
					width: 100%;
					height: 0;
					padding-top: 56.25%;
				}
			}

			// Comments
			.MainContainer-commentPanel {
				width: percentage( 384px / 1024px );
			}
		}
	}

	@media (max-width: 768px) {

		// Page header
		.HeaderContainer {
			> .Grid.HeaderContainer-row {
				display: block;

				> .GridCell {
					display: block;
				}

				.HeaderContainer-videoTitle {
					padding-right: 0;
				}
			}
		}

		// Video
		.WatchAppContainer-main {

			// Player
			.MainContainer-player {
				width: 100%;
			}

			// Comments
			.MainContainer-commentPanel {
				position: relative;
				width: 100%;

				.MiniBannerAdContainer {
					position: relative;
				}

				.CommentPanelContainer {
					position: relative;
					top: 0;
					bottom: 0;
					width: auto;
					height: 300px;
					margin-left: 10px;
					margin-right: 10px;

					.CommentPanelDataGrid {

					}
				}
			}
		}
	}
}


/**
 * Nicovideo / Flash
 */
.utz-nico-responsive-video-flash {
	#playerTabContainer {
		.nicoSpotAds.active {
			display: none !important;
		}
	}
}


/**
 * NicoLive 2 / HTML5
 */

@media (max-width: 1024px) {

	.utz-nico-responsive-live2-html5 {
		min-width: 0;

		body:not([data-browser-fullscreen="parent"]) {

			// Title
			#program-header-block {
				width: auto;

				.program-detail {
					width: auto;

					.program-title {
						overflow: initial;
						white-space: initial;
						text-overflow: initial;
					}
				}
			}

			// Tags
			#program-tag-block {
				width: auto;

				.program-tag-list {
					max-width: none;
					white-space: initial;
				}
			}

			// Player
			#program-main-block {
				#player-block {
					width: auto;
					max-width: 1024px;

					> div {
						> [class^="___player-display"] {
							width: 62.5%;
						}

						> [class^="___player-status"] {
							width: 37.5%;
						}

						@media (max-width: 768px) {
							flex-direction: column;

							> [class^="___player-display"],
							> [class^="___player-status"] {
								width: auto;
								margin-bottom: 10px;
							}
						}
					}

					// Video screen
					[class^="___player-display-screen"][data-size-name="small"] {
						position: relative;
						width: 100%;
						height: 0;
						padding-top: 56.25%;
					}

					// ?
					[class^="___flipboard-layer"]
					[class^="___comment-layer"]
					[class^="___widget-layer"]
					[class^="___interaction-layer"] {
						width: 100% !important;
						height: 100% !important;
					}

					// Comments
					@media (max-width: 768px) {
						[class^="___program-panel"] {
							width: 100%;
							margin-left: 0;
						}

						[class^="___player-status"] {
							margin-left: 10px;
							margin-right: 10px;
						}

						[class^="___comment-panel"] {
							height: 300px !important;

							[class^="___header-table"] {
								width: 100% !important;
							}
						}
					}
				}
			}
		}
	}
}


/**
 * NicoLive 2 / Flash
 */

@media (max-width: 1024px) {
	/* */
}
